@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,700);

:root {
    --color1: #b7d3da;
    --color2: #6396cc;
    --color3: #2072cb;
    --color4: #07111d;
}

body {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.05em;
    background: linear-gradient(to bottom right, hsl(0, 0%, 85%), hsl(0, 0%, 100%));
    background-size: 100vw 100vh;
    margin: 0;
}

/* Layout */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


.box {
    height: 20rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

@keyframes rightFadeIn {
    0% {
        position: relative;
        left: -50%;
        opacity: 0;
    }

    100% {
        position: relative;
        left: 0%;
        opacity: 1;
    }
}

@keyframes leftFadeOut {
    0% {
        position: relative;
        left: 0%;
        opacity: 1;
    }

    100% {
        position: relative;
        left: -50%;
        opacity: 0;
    }
}

.periodA {
    background-color: var(--color1);
}
.periodB {
    background-color: var(--color2);
}
.periodC {
    background-color: var(--color3);
}
.periodD {
    background-color: var(--color4);
}

.grid {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100vh;
    padding-left: 2vh;
    padding-right: 2vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.timeline1 {
    /* margin: 4em auto; */
    padding: 0;
    position: relative;
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    left: 0;
    /* align-items: center; */
}
.period {
    background: rgb(200, 200, 200);
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
.period-bar {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    left: 0;
    transition: all 0.2s ease-in-out;
}

.period-title {
    color: white;
    font-size: 2em;
    width: 10em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-left: 1.5em;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    opacity: 0.75;
    transition-property: opacity, box-shadow, padding-top, padding-bottom;
    transition-duration: 0.4s;
    transition-timing-function: ease-in, ease-in, ease-in, ease-in;
    transition-delay: 0s;
    z-index: 2;
}

.period:hover .period-title {
    transition: all 0.2s ease-in;
    box-shadow: 1vw 1vw 1vw rgb(179, 179, 179);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    opacity: 1;
}
.period:hover .period-bar {
    transition: all 0.2s ease-in-out;
    width: 15px;
}

.movable-bar {
    content: "";
    position: absolute;
    width: 4px;
    height: 100%;
    left: calc(50% - 2px);
    transition: none;
    display:none; 
    z-index: 1; 
    opacity: 1;
}


.timeline2 {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.timeline2-container {
    position: absolute;
    padding-left: 2vh;
    padding-right: 2vh;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

.timeline2-title {
    color: white;
    font-size: 2em;
    width: 10em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    opacity: 0;
}

.timeline2-bar {
    content: "";
    position: absolute;
    width: 4px;
    height: 100%;
    left: calc(50% - 2px);
    transition: none;
    opacity: 0;
}


.event {
    opacity: 0;
    display: flex;
    flex-direction: row;
    height: 100%;
    max-height: 10vh;
}
.event.left {
    flex-direction: row-reverse;
    
}
.event.right {
    flex-direction: row;
}

.event-label {
    position: relative;
    padding: 0em;
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.event-label.right {
    direction: ltr;
    left: 50%;
    width: 46%;
}
.event-label.right>* {
    margin-left: 5%;
}
.event-label.left {
    direction: rtl;
    right: 50%;
    width: 46%;
}
.event-label.left>* {
    margin-right: 5%;
}

.event:hover .event-label {
    transition: all 0.2s ease-out;
    background-color: #ffffff;
}

.event-label h3 {
    font-size: 1.0em;
    margin-top: 0em;
    margin-bottom: 0em;
}

.event-label p {
    font-size: 1.0em;
    margin-top: 0.25em;
    margin-bottom: 0em;
}

.icon {
    transition: transform 0.5s ease-in;
    transform: rotate(45deg);
    background-color: white;
    display: inline-flex;
    position: relative;
    top: calc(50% - 1em / 2);
    margin: 0;
    width: 1em;
    height: 1em;
}

.icon.right {
    left: calc(50% - 0.5em);
}
.icon.left {
    right: calc(50% - 0.5em);
}

.icon.periodA {
    outline: 2px solid var(--color1);
    outline-offset: -1px;
}
.icon.periodB {
    outline: 2px solid var(--color2);
    outline-offset: -1px;
}
.icon.periodC {
    outline: 2px solid var(--color3);
    outline-offset: -1px;
}
.icon.periodD {
    outline: 2px solid var(--color4);
    outline-offset: -1px;
}

.event:hover .icon {
    transform: rotate(-45deg);
    transition: transform 0.2s ease-in;
}
.event:hover .icon.periodA {
    background-color: var(--color1);
}
.event:hover .icon.periodB {
    background-color: var(--color2);
}
.event:hover .icon.periodC {
    background-color: var(--color3);
}
.event:hover .icon.periodD {
    background-color: var(--color4);
}

.event-label .detail {
    display: none;
}

.explainer {
    position: relative;
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.explainer-container {
    position: absolute;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    min-height: 1em;
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: all 1s ease-in-out;
    opacity: 0;
}

.explainer-container .title {
    position: relative;
    background-color: rgb(200, 200, 200);
    padding: 0.33em 1em 0.33em 1em;
    margin: 1em 0em 1em 0em;
    border-radius: 5px;
    transition: all 0.5s ease-out;
    overflow: hidden;
    height: 2em;
    display: inline;
}

.explainer-container h1 {
    position: relative;
    text-align: center;
    margin: 0;
    width: 100%;
}

.explainer-container .description {
    position: relative;
    background-color: rgb(230, 230, 230);
    text-align: left;
    padding: 0.33em 1em 0.33em 1em;
    /* margin: 1em 0em 1em 0em; */
    border-radius: 5px;
    transition: all 0.5s ease-out;
    overflow: hidden;
    height: 2em;
    display: inline;
}

.explainer-container .description .span {
    position: relative;
    text-align: left;
    margin: 0;
    width: 100%;
}

.explainer-container .description p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
